<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.messedup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessedUp">
        <activity android:name=".ebooks.UploadEbooks"></activity>
        <activity android:name=".ebooks.ManageEbooks" />
        <activity android:name=".ebooks.IT" />
        <activity android:name=".ebooks.IC" />
        <activity android:name=".ebooks.EC" />
        <activity android:name=".ebooks.CSE" />
        <activity android:name=".ebooks.SemesterActivity" />
        <activity android:name=".meme.MemeActivity" />
        <activity android:name=".jokes.JokesActivity" />
        <activity android:name=".user.AdminSignup" />
        <activity android:name=".notice.UploadNotice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.HomeActivity" />
        </activity>
        <activity android:name=".notice.ManageNotice" />
        <activity android:name=".user.AdminLogin" />
        <activity android:name=".dashboard.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notice.ShowNotice" />
        <activity android:name=".ebooks.BookActivity" />
        <activity android:name=".ebooks.SubjectActivity" />
        <activity android:name=".ebooks.BranchActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>